// Tâmia © 2013 Artem Sapegin http://sapegin.me
// Configuration

/// Debug mode.
DEBUG ?= false

// Default spacer (default: 10px).
spacer ?= 10px;

// Max page with.
max_width ?= null;

// Max content block (.content) with.
content_max_width ?= null;

// Sticky footer height (default: no sticky footer).
sticky_footer_height ?= null;

// Background color (default: white).
bg_color ?= #fff;

// Base text color (default: #111).
base_color ?= #111;

// Form focus outline color (default: hsl(204,68%,69%)).
form_focus_color ?= hsl(204, 68%, 69%)

// Form border radius (default: .15em).
form_border_radius ?= .15em


@import "./misc"
@import "./functions"
@import "./layout"
@import "./mediaqueries"
@import "./images"
@import "./bootstrap"
@import "./classes"
@import "./links"
