// Tâmia © 2013 Artem Sapegin http://sapegin.me
// Helper classes

// Element is hidden.
.is-hidden
	display: none

// Element is invisible (but occupies place on page).
.is-invisible
	visibility: hidden

/// Element is in transit between hidden (.is-hidden) and visible.
.is-transit
	display: block
	&.l-center
		display: table

// Clearfix.
.group
	clearfix()
