// Tâmia © 2013 Artem Sapegin http://sapegin.me
// Functions

// White color with transparency.
//
// opacity - Opacity value (0—1).
//
// Returns color.
white(opacity)
	rgba(255, 255, 255, opacity)

// Black color with transparency.
//
// opacity - Opacity value (0—1).
//
// Returns color.
black(opacity)
	rgba(0, 0, 0, opacity)
