// Tâmia © 2013 Artem Sapegin http://sapegin.me
// Media queries

/// Based on https://github.com/jenius/rupture

// Media query shortcut: viewport width is greater than or equal to specified value.
//
// Example:
//
//   .pony
//     color: #c0ffee
//     +above(320px)
//       color: #bada55
//
// min - Min width.
above(min)
	condition = 'only screen and (min-width: %s)' % min
	@media condition
		{block}

// Media query shortcut: viewport width is less than or equal to specified value.
//
// max - Max width.
below(max)
	condition = 'only screen and (max-width: %s)' % max
	@media condition
		{block}

// Media query shortcut: viewport width is in between specified values.
//
// min - Min width.
// max - Max width.
between(min, max)
	condition = 'only screen and (min-width: %s) and (max-width: %s)' % (min max)
	@media condition
		{block}

// Media query shortcut: retina screen.
retina()
	@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
		{block}
