@font-face {
	font-family: 'social-likes';
	src:url('fonts/social-likes.eot');
	src:url('fonts/social-likes.eot?#iefix') format('embedded-opentype'),
		url('fonts/social-likes.svg#social-likes') format('svg'),
		url('fonts/social-likes.woff') format('woff'),
		url('fonts/social-likes.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'social-likes';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'social-likes';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.icon-untitled:before {
	content: "\e0c1";
}
.icon-untitled-2:before {
	content: "\e0fa";
}
.icon-Vkontakte:before {
	content: "\e003";
}
.icon-twitter:before {
	content: "\e005";
}
.icon-google:before {
	content: "\e01b";
}
.icon-LifeJournal:before {
	content: "\e016";
}
.icon-GitHub-circle:before {
	content: "\e01d";
}
.icon-facebook:before {
	content: "\e021";
}
.icon-untitled-3:before {
	content: "\e0c4";
}
.icon-code:before {
	content: "\e001";
}
.icon-share:before {
	content: "\e000";
}
