/** Author: Artem Sapegin, http://sapegin.me, 2013 */

.social-likes__button_github,
.social-likes__button_github:link,
.social-likes__button_github:visited {
	padding-left:19px;
	background:#e6e6e6;
	background:linear-gradient(top, #fafafa, #eaeaea);
	color:#555;
	border-color:#d4d4d4;
	border-bottom-color:#bcbcbc;
	text-decoration:none;
}
.social-likes__button_github:hover {
	background:#efefef;
	background:linear-gradient(top, #fff, #f0f0f0);
	color:#444;
	border-color:#d4d4d4;
	border-bottom-color:#bcbcbc;
}
.social-likes__icon_github {
	background-image:embedurl('../icons/github.png');
	background-position:3px 3px;
}
.social-likes__counter_github {
	background:#fafafa;
	border-color:#d4d4d4;
}
.social-likes__counter_github:after {
	border-right-color:#fafafa;
}
