/** Author: Artem Sapegin, http://sapegin.me, 2013 */

// LiveJournal
.social-likes__button_livejournal {
	background:#cadcf3;
	background:linear-gradient(top, #fff, #cadcf3);
	color:#5183b4;
	border-color:hsla(208,78%,84%,.8);
	border-bottom-color:hsla(209,22%,60%,.8);
}
.social-likes__button_livejournal:hover {
	background:#dce2f5;
	background:linear-gradient(top, #ecf1f7, #bad2f0);
	color:#253759;
	border-color:#b7cfe4;
	border-bottom-color:#9caebe;
}
.social-likes__icon_livejournal {
	background-image:embedurl('../icons/livejournal.png');
	background-position:2px 2px;
}
