// Social Likes by Artem Sapegin. http://sapegin.github.io/social-likes/

.social-likes,
.social-likes__widget {
	display:inline-block;
	vertical-align:middle;
	text-indent:0;
	padding:0;
	border:0;
	word-spacing:0;
}

.social-likes {
	list-style:none;

	li {
		display:inline-block;
	}
	&_vertical li {
		display:block;
	}
	&__widget {
		display:inline-block;
		position:relative;
		white-space:nowrap;
	}
	&__widget:before {
		display:none;  // Remove nice bullets
	}

	&__button,
	&__counter {
		text-rendering:optimizeLegibility;
	}

	&__button,
	&__counter {
		display:inline-block;
		margin:0;
		outline:0;
	}

	&__button {
		position:relative;
		cursor:pointer;
		user-select:none;
		
		// Prevent layout breaking without labels
		&:before {
			content:"";
			display:inline-block;
		}
	}

	&__icon {
		position:absolute;
		top:0;
		left:0;
	}

	&__counter {
		position:relative;
		font-weight:normal;
		cursor:default;
	}

	&__close {
		position:absolute;
		right:0;
		top:0;
		cursor:pointer;
	}
	&__close:before {
		display:none;  // Remove nice bullets
	}

	// Vertical mode
	&_vertical {
		.social-likes__widget {
			display:block;
		}
	}

	// Icons only mode
	&_notext {
		.social-likes__button {
			padding-left:0;
		}
	}

	// Single button mode
	&_single-w {
		position:relative;
		display:inline-block;
	}
	&_single {
		position:absolute;
		text-align:left;
		z-index:99999;
		visibility:hidden;
		opacity:0;
		transition:visibility 0s .3s, opacity .3s ease-out;
		&.social-likes-is-visible {
			visibility:visible;
			opacity:1;
			transition:opacity .3s ease-out;
		}
	}
}

// Single button
.social-likes__button_single {
	position:relative;
}
