// Social Likes by Artem Sapegin. http://sapegin.github.io/social-likes/

// :link and :visited states of the link.
//
// Example:
//   +link-base()
//     color: #bada55
link-base() {
	&,
	&:link,
	&:visited {
		{block}
	}
}

// :hover, :active and :focus states of the link.
//
// Example:
//   +link-hovers()
//     color: #bada55
link-hovers() {
	&:hover,
	&:active,
	&:focus {
		{block}
	}
}

// Tweak inverted text (light on dark) for OS X.
tweak-inverted-text() {
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.social-likes {
	border:0 !important;
}
.social-likes,
.social-likes__widget {
	display:inline-block;
	vertical-align:middle !important;
	text-indent:0 !important;
	padding:0 !important;
	word-spacing:0 !important;
	text-indent:0 !important;
	list-style:none !important;
}

// Hide buttons until they are loaded
.social-likes > * {
	display:inline-block;
	visibility:hidden;
}
.social-likes_vertical > * {
	display:block;
}
.social-likes .social-likes__widget {
	visibility:inherit;
}	

.social-likes {
	&__widget {
		display:inline-block;
		position:relative;
		white-space:nowrap;
		// overflow:hidden;
		&:before,
		&:after {
			display:none !important;  // Remove nice bullets
		}
	}
	&_vertical &__widget {
		display:block;
		float:left;
		clear:left;
	}

	&__button,
	&__icon,
	&__counter {
		text-decoration:none;
		text-rendering:optimizeLegibility;
	}

	&__button,
	&__counter {
		display:inline-block;
		margin:0;
		outline:0;
	}

	&__button {
		position:relative;
		cursor:pointer;
		user-select:none;
		
		// Prevent layout breaking without labels
		&:before {
			content:"";
			display:inline-block;
		}
	}

	&__icon {
		position:absolute;
		top:0;
		left:0;
	}

	&__counter {
		position:relative;
		font-weight:normal;
		cursor:default;
	}

	&__close {
		position:absolute;
		right:0;
		top:0;
		cursor:pointer;
	}
	&__close:before {
		display:none;  // Remove nice bullets
	}

	// Vertical mode
	&_vertical {
		.social-likes__widget {
			display:block;
		}
	}

	// Icons only mode
	&_notext {
		.social-likes__button {
			padding-left:0;
		}
	}

	// Single button mode
	&_single-w {
		position:relative;
		display:inline-block;
	}
	&_single {
		position:absolute;
		text-align:left;
		z-index:99999;
		visibility:hidden;
		opacity:0;
		transition:visibility 0s .3s, opacity .3s ease-out;
		backface-visibility:hidden;
		&.social-likes_visible {
			visibility:visible;
			opacity:1;
			transition:opacity .3s ease-out;
		}
	}
}

// Single button
.social-likes__button_single {
	position:relative;
}
