/* Author: Artem Sapegin, http://sapegin.me, 2013 */

sticky_footer_height = 40px;
form_focus_color = #f59300;

@import "tamia";
@import "modules/form";
@import "modules/checkbox";
@import "modules/switcher";
@import "gh-page";
@import "styles";
