// Tâmia © 2013 Artem Sapegin http://sapegin.me
// Rich typograhy

// Abbreviations with spacing.
.abbr,
.text abbr
	letter-spacing: 0.1em
	margin-right: -0.1em

// The best ampersand.
.amp
	font-family: Baskerville, Constantia, Palatino, "Palatino Linotype", "Book Antiqua", serif
	font-style: italic

// Hanging punctuation.
.sbrace
	margin-right: 0.3em
.hbrace
	margin-left: -0.3em
.slaquo
	margin-right: 0.42em
.hlaquo
	margin-left: -0.42em

// Headings with ligatures.
.text h1, .alpha,
.text h2, .beta,
.text h3, .gamma,
.text h4, .delta,
.text h5, .epsilon,
.text h6, .zeta
	enable-ligatures()
