<ul class="social-likes{{? $.type === 'vertical' }} social-likes_vertical{{?}}{{? $.type === 'single' }} social-likes_single{{?}}"{{? !$.counters }} data-counters="no"{{?}}{{? $.url }} data-url="{{=$.url}}"{{?}}{{? $.title }} data-title="{{=$.title}}"{{?}}{{? $.type === 'single' }} data-single-title="{{=$.singleTitle}}"{{?}}>

	{{? $.site_facebook }}<li class="facebook" title="{{=$.titleFacebook}}">Facebook</li>{{?}}

	{{? $.site_twitter }}<li class="twitter" {{? $.twitter_via }} data-via="{{=$.twitter_via}}"{{?}} {{? $.twitter_related }} data-related="{{=$.twitter_related}}"{{?}} title="{{=$.titleTwitter}}">Twitter</li>{{?}}

	{{? $.site_mailru }}<li class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</li>{{?}}

	{{? $.site_vkontakte }}<li class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</li>{{?}}

	{{? $.site_odnoklassniki }}<li class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</li>{{?}}

	{{? $.site_plusone }}<li class="plusone" title="{{=$.titlePlusone}}"{{? $.experimental }} data-counter="http://sapegin.ru/api/social-likes/googleplusonecount.php?url={url}&amp;callback=?"{{?}}>Google+</li>{{?}}

	{{? $.site_livejournal }}<li class="livejournal" title="{{=$.titleLivejournal}}">LiveJournal</li>{{?}}

	{{? $.site_code }}<li class="code" title="{{=$.titleCode}}" data-prompt="{{=$.codePrompt}}">{{=$.code}}</li>{{?}}

</ul>