@font-face {
	font-family:"social-likes";
	src:<%= fontSrc2 %>;
	font-weight:normal;
	font-style:normal;
}

<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { %>
.social-likes__icon_<%= glyphs[glyphIdx] %>:before {
	content:"\<%= codepoints[glyphIdx] %>";
}<% } %>
