/* Author: Artem Sapegin, http://sapegin.me, 2013 */

form_focus_color = #ffa500;

@import "tamia";
@import "modules/form";
@import "modules/checkbox";
@import "modules/switcher";
@import "gh-page";
@import "styles";
