// Author: Artem Sapegin, http://sapegin.me, 2013

.language-switcher {
	position:absolute;
	top:15px;
	right:2*spacer;
}

// Forms
.builder {
	&__row {
		clearfix();
		margin-top:.5em;
	}

	&__label {
		float:left;
		width:15%;
		line-height:28px;
	}

	&__widget {
		float:right;
		width:85%;
	}

	&__checkbox {
		float:left;
		width:20%;
	}

	.l-half &__label {
		width:30.67%;
	}
	.l-half &__widget {
		width:69.33%;
	}	
}

.preview {
	min-height:55px;
	margin:2*spacer (-(2*spacer));
	padding:spacer+5 2*spacer;
	box-shadow:inset 0 3px 3px -1px black(.2), inset 0 -2px 3px -1px black(.2);
}

.code {
	margin:2*spacer (-(2*spacer));
	padding:spacer 2*spacer;	
	background:#f5f2f0;

	&-i {
		font-size:12px;
		white-space:pre-wrap;
		tab-size:4;
	}
}

// Syntax highlighting
.hl-gray {
	color:#999;
}
.hl-tag {
	color:#905;
}
.hl-attr {
	color:#690;
}
.hl-str {
	color:#07a;
}


// Download row
.download-row {
	&__links {
		margin-bottom:spacer;
		.big-button {
			margin-right:.2em;
		}
	}
	&__descr {
		font-size:13px;
	}
}


// Download button
.big-button,
.big-button:link,
.big-button:visited {
	padding:5px 15px;
	background:#ff6d00;
	background:noise, linear-gradient(top, #ffcc00, #ff6d00);
	border-radius:35px;
	color:#fff;
	color:white(.97);
	font-size:28px;
	text-decoration:none;
	text-shadow:0 -1px 1px black(.5);
	box-shadow:inset 0 1px 0 white(.6),
		inset 0 2px 8px white(.7),
		inset 0 -2px 4px black(.1),
		0 -1px 0 hsla(41,90%,45%,.95),
		0 1px 0 hsla(20,100%,30%,.95),
		0 2px 4px black(.1);
}
.big-button:hover,
.big-button:focus {
	background:#ff7c1a;
	background:noise, linear-gradient(top, #ffd739, #ff7c1a);
	color:#fff;
	box-shadow:inset 0 1px 0 white(.6),
		inset 0 2px 8px white(.7),
		inset 0 -2px 4px black(.1),
		0 -1px 0 hsla(41,90%,45%,.8),
		0 1px 0 hsla(20,100%,30%,.8),
		0 2px 4px black(.1);
	outline:0;
}
.big-button:active {
	padding:6px 15px 4px;
	background:#faa643;
	background:noise, linear-gradient(top, #ff7c1a, #faa643);
	color:white(.93);
	text-shadow:0 -1px 0 black(.4);
	box-shadow:0 -1px 0 hsla(20,100%,30%,.8),
		inset 0 -2px 1px white(.1),
		inset 0 -1px 0 hsla(41,90%,25%,.2),
		inset 0 2px 7px black(.3),
		0 1px 1px black(.1);
}
